body{
    background-color: beige;
}
.toolcolor,
.navbar, 
footer {
    background-color:rgb(139, 150, 32);
}
.pic{
    padding:1rem;
    border-radius:2rem;
}
.titles{
    padding: 2%;
    color: rgb(66, 45, 45);
    font-weight: bold;
    font-size: 25px;
}
#products {
    display: none;
}
.cartButton {
    position:relative;
}
/* .cartButton span{
    position:absolute;
    bottom: -10px;
    left: -10px;
} */
#cartModal table img {
    /* width: 100px; */
    width: 100%;
}
#cartModal table tbody td:first-child{
    width: 15%;
}
#cartModal table tbody td:nth-child(2){
    width: 50%;
}
/* #cartModal table tbody td:nth-child(3){
    width: 30%;
} */