body{
    background-color: beige;
}
.toolcolor,
.navbar, 
footer {
    background-color:rgb(139, 150, 32);
}
.pic{
    padding:1rem;
    border-radius:2rem;
}
#cartModal table img {
    width: 100px;
}
.titles{
    padding: 2%;
    color: rgb(66, 45, 45);
    font-weight: bold;
    font-size: 25px;
}